.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
.spread-btn{
  right: 15%;
  position: absolute;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.menu-wrapper {
  text-align: left;
  margin-left: 30%;
}
.submenu.menu-wrapper{
  left: 20%;
  position: absolute;
  background-color: rgb(34,31,32);
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 10rem;
  z-index: 2;
  ul{
    margin: 0;
    padding: 0 1.25rem;
  }
}
.submenu.menu-wrapper.hide{
  display: none;
}

// 다크 테마
.sidebar-sticky {
  position: relative;
  z-index: 3;
  max-width: $sidebar-width;
  padding: 3rem;
  contain: content;
}
.sidebar-about .avatar {

  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.sidebar a:hover {
  border-bottom-color: #2879ff;
  text-decoration-color: #2879ff;
}

.post-title a {
  color : whitesmoke;
}
body {
  color: white;
}

.note, .toc-show li a, .note-sm{
  color: snow;
}
.flip-title, .post ul li a{
  color: #a0a1a7;
}
html {
  --body-bg : #121212;
}

hy-push-state a {
  color: #c8c6c6;
  transition: color 250ms, text-decoration-color 250ms, border-color 250ms;
}
.h4 a:hover {
  color: white;
  transition: white 250ms, text-decoration-color 250ms, border-color 250ms;
}
a.nav-btn:hover {
  background-image: linear-gradient(69deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

code {
  padding: 0.25em 0.5em;
  background-color: #fbfbfbb3;
  font-size: smaller;
  color: black;
  border-radius: 1em;
  font-weight: bold;
}

pre>code {
  display: inline-block;
  position: relative;
  min-width: 100%;
  padding: 0;
  background-color: #1e1e1e;
  font-size: 1em;
  color: #d4e6f1;
}
// .toc-show li a, .note-sm, #markdown-toc
.note, blockquote{
  color: snow;
  background-image: linear-gradient(272deg, rgba(0,0,0,0), #6a6a6aad);
}
//#post-cloud-\[GCP\]\ 방화벽 > table:nth-child(17) > tbody > tr:nth-child(2)
.post table tbody  {
  background: #1e1e1e;
}

img{
  background: whitesmoke;
}